
*{
    top: 0;
    background-color: blueviolet;
    text-align: center;

}
#top{
height: 7cm;
}
button{
    height: 1cm;
    background-color: black;
    color: azure;
}
input{
    height: 1cm;
    background-color: azure;
}
h4,h1{
    color: azure;
}
footer{
    background-color: black;
    color: azure;
    bottom: 0;
    height: 10cm;

}span{
    background-color: black;
    font-size: xx-large;
}
li ,ul{
    background-color: black;
    padding-top: 3%;
    
}